.footer {
 
  padding-top: 40px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 160px;
  margin-left: 50px;

  h4 {
    margin-bottom: 3rem;
  }
}

.footer-atendimento {
  ul {
   
    li {
      list-style-type: none;
      font-weight: 300;
      color: #2d2d2d;
      padding: 0.5rem 0;
    }
  }
}

.footer-pagamentos {
  .icons-pagamento {
    width: 32vw;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;

    img {
      width: 40px;
    }
  }
}

.footer-redes {
  .social-icons {
  
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}