.footer {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgb(238, 230, 230);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 120px;
 

  h4 {
    margin-bottom: 15px;
  }
}

.footer-atendimento {
  ul {
   

    li {
      list-style-type: none;
      font-weight: 300;
      color: #2d2d2d;
      padding: 4px 0;
    }
  }
}

.footer-pagamentos {
  .icons-pagamento {
    
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    

    img {
      width: 40px;
    }
  }
}

.footer-redes {
  .social-icons {
   
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}