.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 120px;

  @media (max-width: 720px){
    gap: 30px
  }
 

  h4 {
    margin-bottom: 15px;
  }
}

.footer-atendimento {
  ul {
   

    li {
      list-style-type: none;
      font-weight: 300;
      color: #2d2d2d;
      padding: 4px 0;

      
  @media (max-width: 720px){
    font-size: 0.7rem;
  }

    }
  }
}

.footer-pagamentos {
  .icons-pagamento {
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;


    @media (max-width: 720px){
   gap: 10px;
  }
    

    img {
      width: 35px;


 
    }
  }
}

.footer-redes {
  .social-icons {
   
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
}