*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

h2{
    margin: 40px;
}

html {
    overflow-x: hidden;
   
    scroll-behavior: smooth;
}