.sectionLooks {
  width: 100%;
  text-align: center;
  

  @media (max-width: 420px) {
    padding: 0;
  }

}


.h2Looks {
  font-size: 2rem;
  font-weight: 600;
  margin: 2rem 0;
  text-align: center;

  @media (max-width: 420px) {
    font-size: 1.2rem;

  }
}

.sectionBanners {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  .bannerDiv {


    .make {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
    }


    
  }



}