.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img {
         width: 100vw;
        max-height: 800px;
    }

    @media (max-width: 420px) {
        width: auto;
        height: auto;
    }
}